<!-- templates/partials/cargos.html -->
<div class="head-title">
	<div class="left">
		<h1>Cargos de la empresa</h1>
		<ul class="breadcrumb">
			<li><a href="#">Cargos</a></li>
			<li><i class='bx bx-chevron-right'></i></li>
		</ul>
	</div>
	<a href="#" class="btn-download">
		<i class='bx bxs-cloud-download bx-fade-down-hover'></i>
		<span class="text">Descargar listado</span>
	</a>
</div>

<div class="table-data">
	<div class="order">
		<div class="head">
			<h3>Lista de cargos</h3>
		</div>
		<table>
			<thead>
				<tr>
					<th>Nombre del cargo</th>
					<th>Departamento</th>
					<th>Salario base</th>
				</tr>
			</thead>
			<tbody>
				<tr><td>Gerente General</td><td>Dirección</td><td>$7.000.000</td></tr>
				<tr><td>Contador</td><td>Finanzas</td><td>$4.500.000</td></tr>
				<tr><td>Analista</td><td>Sistemas</td><td>$3.200.000</td></tr>
			</tbody>
		</table>
	</div>
</div>
