<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap CRUD Data Table for Database with Modal Form</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<script src="/static/scripts/emp.js"></script>
<link rel="stylesheet" href="/static/styles/emp.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<body>
  
 <div class="container"> 
  <form id="payroll-form">
    <label for="employee_id">Documento del Empleado:</label>
    <input type="number" id="document_number" name="document_number" required style="margin-left: 10px;"><br><br>
  
    <label for="payroll_period_id">ID del Período de Nómina:</label>
    <select id="payroll_period_id" name="payroll_period_id" required style="margin-left: 10px;">
  <option value="">Seleccione un periodo</option>
</select>
  
    <button type="submit" class="btn btn-default" style="margin-left: 20px;">Asignar Conceptos</button>
  </form>
</div>

<div id="contenidoParaPDF">
<div id="empleadoContainer" class="container" style="display: none;">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Información del <b>empleado</b></h2>
            </div>
            
          </div>
        </div>
        <table class="table table-striped table-hover" id="empleadosTable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cargo</th>
              <th>Salario Base</th>
              <th>Documento</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        
      </div>
    </div>
  
  <div id="result-message"></div>
  <div id="conceptosContainer" class="container" style="display: none;">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Conceptos</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="#addPayrollModal" class="btn btn-success" data-toggle="modal">
              <i class="material-icons">&#xE147;</i>
              <span>Agregar concepto</span>
            </a>
            <button id="btnCapturaPantalla" class="btn btn-primary">
              <i class="material-icons">&#xE147;</i>
              <span>Generar liquidación</span>
            </button>            
          </div>
        </div>
      </div>
      <table id="conceptosTable" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>


  <div id="result-message"></div>
  <div id="resumenContainer" class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Resumen</b></h2>
          </div>
        </div>
      </div>
      <table id="resumenTable" class="table">
        <thead>
          <tr>
            <th>Total devengado</th>
            <th>Total deducido</th>
            <th>Total a pagar</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

<div id="addPayrollModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="add-concept-form">
        <div class="modal-header">						
          <h4 class="modal-title">Agregar Concepto a la Nómina</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">					
          <div class="form-group">
            <label for="concept_id">Concepto</label>
            <select id="concept_id" class="form-control" required>
  <option value="">Seleccione un concepto</option>
</select>
          </div>					
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input type="submit" class="btn btn-success" value="Agregar">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</body>
</html>
