<!-- Guarda esto como payroll_period.html en templates/partials -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Gestión de Periodos de Nómina</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/static/styles/emp.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/scripts/emp.js"></script>
</head>
<body>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Gestionar <b>Periodos de Nómina</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="#addPeriodModal" class="btn btn-success" data-toggle="modal">
              <i class="material-icons">&#xE147;</i> <span>Agregar Nuevo Periodo</span>
            </a>
          </div>
        </div>
      </div>
      <table id="periodosTable" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha del Periodo</th>
            <th>Tipo Nómina</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      
    </div>
  </div>

<div id="addPeriodModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="createPayrollPeriodForm">
        <div class="modal-header">
          <h4 class="modal-title">Crear Periodo de Nómina</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="payrollType">Tipo de nómina</label>
    <select id="payrollType" required>
      <option value="">Seleccione tipo</option>
      <option value="1">Quincenal</option>
      <option value="2">Mensual</option>
      <option value="4">Horas extras</option>
      <option value="3">Primas</option>
      <option value="5">Pagos al empleador</option>
      <option value="6">vacaciones</option>
    </select>
          </div>

          <div class="form-group">
    <label for="payrollMonth">Mes y Año</label>
    <input type="month" id="payrollMonth" required />
  </div>
          <div class="form-group">
    <label for="payrollDay">Día</label>
    <select id="payrollDay" required>
      <option value="">Seleccione día</option>
      <option value="01">1</option>
      <option value="15">15</option>
    </select>
  </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" />
          <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
