<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Auditoría del Sistema</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/styles/audit.css" />
  <script src="/static/scripts/audit.js"></script>
  <script src="/static/scripts/emp.js"></script>
</head>
<body>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Historial de <b>Auditoría</b></h2>
          </div>
        </div>
      </div>
      <table id="auditTable" class="table">
        <thead>
          <tr>
            <th>Acción</th>
            <th>Tabla</th>
            <th>Fecha</th>
            <th>Datos Antes</th>
            <th>Datos Después</th>
          </tr>
        </thead>
        <tbody>
          <!-- Se llenará desde JS -->
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
