<!-- templates/partials/resumen.html -->
<div class="head-title">
	<div class="left">
		<h1>Resumen de la empresa</h1>
		<ul class="breadcrumb">
			<li><a href="#">Resumen</a></li>
			<li><i class='bx bx-chevron-right'></i></li>
		</ul>
	</div>
	<a href="#" class="btn-download">
		<i class='bx bxs-cloud-download bx-fade-down-hover'></i>
		<span class="text">Descargar resumen</span>
	</a>
</div>

<ul class="box-info">
	<li>
		<i class='bx bxs-group'></i>
		<span class="text">
			<h3>XXXX</h3>
			<p>Total de empleados</p>
		</span>
	</li>
	<li>
		<i class='bx bxs-group'></i>
		<span class="text">
			<h3>XXXX</h3>
			<p>Total de cargos</p>
		</span>
	</li>
	<li>
		<i class='bx bxs-group'></i>
		<span class="text">
			<h3>XXXX</h3>
			<p>Total de dependencias</p>
		</span>
	</li>
</ul>

<div class="table-data">
	<div class="order">
		<div class="head">
			<h3>Departamentos con más empleados</h3>
		</div>
		<table>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Empleados</th>
					<th>Estatus</th>
				</tr>
			</thead>
			<tbody>
				<tr><td><p>Dep XXX</p></td><td>XXX</td><td><span class="status completed">Activo</span></td></tr>
				<tr><td><p>Dep XXX</p></td><td>XXX</td><td><span class="status completed">Activo</span></td></tr>
				<tr><td><p>Dep XXX</p></td><td>XXX</td><td><span class="status completed">Activo</span></td></tr>
			</tbody>
		</table>
	</div>
</div>
