<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- My CSS -->
	<link rel="stylesheet" href="/static/main.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
	<title>AdminHub</title>
</head>
<body>
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile  bx-lg'></i>
			<span class="text">Nominapp</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#" class="nav-link" data-page="resumen.html">
                    <i class='bx bxs-group bx-sm'></i>
                    <span class="text">Resumen</span>
                </a>                
			</li>
			<li>
                <a href="#" class="nav-link" data-page="empleados.html">
                    <i class='bx bxs-group bx-sm' ></i>
                    <span class="text">Empleados</span>
                </a>
            </li>
			<li>
				<a href="#" class="nav-link" data-page="cargos.html">
                    <i class='bx bxs-briefcase bx-sm'></i>
                    <span class="text">Cargos</span>
                </a>
                
			</li>
			<li>
				<a href="#" class="nav-link" data-page="dependencias.html">
                    <i class='bx bxs-group bx-sm'></i>
                    <span class="text">Dependencias</span>
                </a>
                
			</li>
			<li>
				<a href="#" class="nav-link" data-page="L_Empleado.html">
                    <i class='bx bxs-group bx-sm'></i>
                    <span class="text">Liquidar Empleado</span>
                </a>
                
			</li>
            <li>
				<a href="#" class="nav-link" data-page="L_Empleador.html">
                    <i class='bx bxs-group bx-sm'></i>
                    <span class="text">Liquidar Empleador</span>
                </a>
                
			</li>
            <li>
				<a href="#" class="nav-link" data-page="L_Primas.html">
                    <i class='bx bxs-group bx-sm'></i>
                    <span class="text">Liquidar Primas</span>
                </a>
			</li>
            <li>
				<a href="#" class="nav-link" data-page="L_Primas.html">
                    <i class='bx bxs-group bx-sm'></i>
                    <span class="text">Reportes</span>
                </a>
			</li>
		</ul>
		<ul class="side-menu bottom">
			<li>
				<a href="#" class="logout">
					<i class='bx bx-power-off bx-sm bx-burst-hover' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
<nav>
    <i class='bx bx-menu bx-sm' ></i>
    
</nav>
		<main id="main-content">
			
		</main>
		<!-- MAIN -->
	</section>


      

	<script src="/static/main1.js"></script>
    <script>

document.addEventListener('DOMContentLoaded', function () {
    console.log("JS cargado correctamente");

    const links = document.querySelectorAll('.nav-link');
    const mainContent = document.getElementById('main-content');

    links.forEach(link => {
        link.addEventListener('click', function (e) {
            e.preventDefault();
            const page = this.getAttribute('data-page');
            if (!page) return;

            console.log("Cargando:", page);

            fetch(`/partials/${page}`)
                .then(response => response.text())
                .then(html => {
                    mainContent.innerHTML = html;

                    // Cargar el contenido específico para cada página
                    if (page === 'empleados.html') {
                        fetch('/api/empleados')
                            .then(response => response.json())
                            .then(data => {
                                const empleadosTableBody = document.querySelector('#empleadosTable tbody');
                                empleadosTableBody.innerHTML = '';  // Limpiar la tabla

                                // Añadir los datos a la tabla
                                data.forEach(empleado => {
                                    const row = document.createElement('tr');
                                    row.innerHTML = `
                                        <td>${empleado.first_name} ${empleado.last_name}</td>
                                        <td>${empleado.position}</td>
                                        <td>${empleado.base_salary}</td>
                                        <td>${empleado.document_number}</td>
                                        <td>${empleado.is_active ? 'Activo' : 'Inactivo'}</td>
                                        <td>
                                            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                           <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" data-doc="${empleado.document_number}">
                                                <i class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i>
                                            </a>

                                        </td>
                                    `;
                                    empleadosTableBody.appendChild(row);
                                });
                            })
                            .catch(error => {
                                console.error('Error al obtener los empleados:', error);
                            });
                    }

                    // Cargar los datos de cargos
                    if (page === 'cargos.html') {
                        fetch('/api/cargos')
                            .then(response => response.json())
                            .then(data => {
                                const cargosTableBody = document.querySelector('#cargosTable tbody');
                                cargosTableBody.innerHTML = '';  // Limpiar la tabla

                                data.forEach(cargo => {
                                    const row = document.createElement('tr');
                                    row.innerHTML = `
                                        <td>${cargo.id}</td>
                                        <td>${cargo.cargo}</td>
                                    `;
                                    cargosTableBody.appendChild(row);
                                });
                            })
                            .catch(error => {
                                console.error('Error al obtener los cargos:', error);
                            });
                    }

                    // Cargar los datos de departamentos
                    if (page === 'dependencias.html') {
                        fetch('/api/departamentos')
                            .then(response => response.json())
                            .then(data => {
                                const departamentosTableBody = document.querySelector('#departamentosTable tbody');
                                departamentosTableBody.innerHTML = '';  // Limpiar la tabla

                                data.forEach(departamento => {
                                    const row = document.createElement('tr');
                                    row.innerHTML = `
                                        <td>${departamento.id}</td>
                                        <td>${departamento.departamento}</td>
                                    `;
                                    departamentosTableBody.appendChild(row);
                                });
                            })
                            .catch(error => {
                                console.error('Error al obtener los departamentos:', error);
                            });
                    }
                })
                .catch(error => {
                    console.error("Error al cargar el contenido:", error);
                    mainContent.innerHTML = '<p>Error al cargar el contenido.</p>';
                });
        });
    });
});




    </script>
    <script>
        window.onload = () => {
            fetch('/partials/resumen.html')
                .then(response => response.text())
                .then(html => {
                    document.getElementById('main-content').innerHTML = html;
                });
        };
        </script>
</body>
</html>